:root{
	--vh: 600px;
}
body {
	margin: 0;
	/* background-color: #000; */
	color: #fff;
	font-family: 'neue-haas-grotesk-display';

	font-size: 13px;
	line-height: 24px;
	overscroll-behavior: none;
}

a {
	color: #ff0;
	text-decoration: none;
}

/* a:hover {
	text-decoration: underline;
} */

button {
	cursor: pointer;
	text-transform: uppercase;
}

#info {
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; /* TODO Solve this in HTML */
}

a, button, input, select {
	pointer-events: auto;
}

.dg.ac {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index: 2 !important; /* TODO Solve this in HTML */
}

#overlay {
	position: absolute;
	font-size: 16px;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	/* background: rgba(0,0,0,0.7); */
}

	#overlay button {
		background: transparent;
		border: 0;
		border: 1px solid rgb(255, 255, 255);
		border-radius: 4px;
		color: #ffffff;
		padding: 12px 18px;
		text-transform: uppercase;
		cursor: pointer;
	}

#notSupported {
	width: 50%;
	margin: auto;
	background-color: #f00;
	margin-top: 20px;
	padding: 10px;
}

.eyeballs{
	position: fixed;
	bottom: 40%;
	left: 0;
	right: 0;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;
}
.righteye img,
.lefteye img{
	width: 100%;
}
.righteye,
.lefteye{
	width: 135px;
	position: relative;
	margin: 0 20px;
}
.righteye .pupil2,
.lefteye .pupil1{
	width: 34px;
    position: absolute;
    top: 20%;
    left: 24%;
	transform: translate(38%,0%);
}
.raw-overlay{
	position: fixed;
	pointer-events: none;
	background-color: #ff0000;
	width: 100vw;
	height: 100vh;
	height: calc(100 * var(--vh));
	transition: .2s;
	opacity: 0;
	z-index: 1;
	mix-blend-mode: multiply;
}

/* about */
.theme-red{
	background-color: #fc0201;
	margin: 0;
	padding: 0;
}
.rm-about-header{
	padding: 50px 0;
}
.rm-container{
	padding: 0 75px;
}
.linklist{
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	align-items: center;
	color: #fff;

}
.linklist.red,
.linklist.red .linklist-item a{
	color: #ff0000;
}
.linklist-item img,
.linklist-item svg{
	transition: .3s;
}
.linklist-item:hover img,
.linklist-item:hover svg{
	transform: translateX(3px);
}
.linklist-item{
	margin-right: 30px;
}
.linklist-item:last-of-type{
	margin-right: 0;
}
.linklist-item a{
	font-size: 16px;
	color: #fefefe;
	/* text-decoration: underline; */
	margin-right: 10px;
	cursor: pointer;
	text-transform: uppercase;
	font-family: 'neue-haas-grotesk-display';
}
.rm-about-header{
	top: 0;
	left: 0;
	width: 100%;
	position: fixed;
}
.about-close{
	position: fixed;
	top: 50px;
	right: 75px;
}
.about-close img{
	width: 24px;
}
.rm-about-content{
	width: 341px;
	margin: auto;
	margin-top: 150px;
	text-align: center;
}
.rm-about-content h1,
.rm-about-content h2,
.rm-about-content h3,
.rm-about-content h4,
.rm-about-content h5,
.rm-about-content p,
.rm-about-content li{
	font-family: 'neue-haas-grotesk-display';
	font-weight: 400;
	color: #fefefe;
}
.rm-about-content h1{
	font-size: 20px;
	margin-bottom: 80px;
	margin-top: 0;
}
.rm-about-content h4{
	font-size: 16px;
	font-weight: 600;
	margin-top: 0;
	margin-bottom: 0px;
}
.rm-about-content .other-seperator{
	height: 30px;
	margin: 30px 0;
	position: relative;
}
.rm-about-content .other-seperator::after{
	width: 16px;
	content: '';
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%,-50%);
	background: #fefefe;
	height: 1px;
}
.rm-about-content ul{
	list-style: none;
	padding: 0;
	margin: 0;
	margin-bottom: 20px;
}
.rm-about-content ul li{
	margin-bottom: 0;
	line-height: 20px;
}

.rm-about-content p{
	line-height: 20px;
	margin-top: 0;
	font-size: 16px;
	margin-bottom: 60px;
}
.rm-about-content h3{
	font-size: 16px;
	margin-top: 0;
	font-weight: 600;
	font-weight: 400;
	width: 163px;
	display: inline-block;
	margin-bottom: 0px;
}
.rm-about-content b{
	font-weight: 600;
}
.rm-about-content{
	padding: 30px 0  60px 0;
}

/* home */
.rm-logo{
	position: fixed;
	bottom: 35px;
	left: 75px;
	height: 55px;
	/* z-index: 5; */
}
.rm-logo img{
	height: 100%;
}
.rm-home-navigation{
	position: fixed;
	bottom: 35px;
	z-index: 5;
	right: 75px;
}
.rm-footer-layer{
	width: 100vw;
	height: 106px;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 5;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.47));
}

.fade{
	opacity: 0;
	transition: .8s;
}
.fade.in{
	opacity: 1;
}
.loader-num{
	/* position: fixed; */
	/* font: 100px; */
	color: #ff0000;
}
.rm-loader{
	width: 100vw;
	height: 100vh;
	height: calc(100 * var(--vh));
	z-index: 5;
	display: flex;
	background-image: url('./assets/creepy-desktop.png');
	background-size: cover;
	background-repeat: repeat;
	position: fixed;
}
.rm-loader.hide{
	display: none;
}
.rm-loader-pos{
	margin-top: auto;
	padding-bottom: 160px;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	width: 100%;
	/* height: 100%; */
	/* padding-top: 11px; */
}
.rm-loader-pos img{
	width: 260px;
}

.rm-logo-mobile{
	z-index: 5;
	display: none;
}
.rm-intro,.rm-intro-mobile{
	position: absolute;
    bottom: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
	pointer-events: none;
	transition: 1s;
	opacity: 0;
	width: 100%;
}
.rm-intro.hide,.rm-intro-mobile.hide{
	opacity: 0;
}
.rm-intro-mobile svg {
	margin-right: 10px;
	width: 14px;
} 
.rm-intro svg {
	margin-bottom: 10px;
	width: 15px;
} 
.rm-intro-mobile{
	display: none;
	flex-direction: row;
}
/* loading */
.loading{
	width: 68px;
    font-size: 16px;
    color: #ff0000;
}
.loading:after {
	overflow: hidden;
	display: inline-block;
	vertical-align: bottom;
	-webkit-animation: ellipsis steps(4,end) 900ms infinite;      
	animation: ellipsis steps(4,end) 900ms infinite;
	content: "\2026"; /* ascii code for the ellipsis character */
	width: 0px;
  }
  
  @keyframes ellipsis {
	to {
	  width: 20px;    
	}
  }
  
  @-webkit-keyframes ellipsis {
	to {
	  width: 20px;    
	}
  }
/* @media only screen and (min-width: 851px	){
.rm-logo-mobile{
	display: none;
}
} */
@media only screen and (max-width: 950px	){
	.rm-container{
		padding: 0 40px;
	}
	.rm-logo{
		left: 40px;
	}
	.rm-home-navigation{
		right: 40px;
	}
}
@media only screen and (max-width: 850px){
	.rm-container{
		padding: 0 40px;
	}
	.rm-logo{
		display: none;
	}
	.rm-logo-mobile{
		position: fixed;
		display: inline;
		left: 50%;
		width: 160px;
		top: 30px;
		transform: translateX(-50%);
	}
	.rm-logo-mobile img{
		width: 100%;
	}
	.rm-home-navigation{
		right: 0%;
		width: 100%;
		/* transform: translateX(50%); */
		text-align: center;
	}
	.rm-home-navigation ul {
		width: auto;
		display: inline-flex;
	}
}
@media only screen and (max-width: 768px){
	
	.rm-intro{
		display: none;
	}
	.rm-intro-mobile{
		display: flex;
	}
	.rm-loader{
		background-image: url('./assets/creepy.png');
	}
	.rm-home-navigation{
		right: 0%;
		width: 100%;
		/* transform: translateX(50%); */
		text-align: center;
	}
	.linklist-item a{
		margin-right: 0;
	}
	/* .linklist-item img,
	.linklist-item svg{
		display: none;
	} */
	.rm-about-header{
		pointer-events: none;
		height: 100vh;
		height: calc(100 * var(--vh));
		padding-top: 0;
		z-index: 2;
	}
	.about-close{
		width: 20px;
		right: 40px;
		top: 40px;
	}
	.about-close img{
		width: 100%;
	}
	#about-navigation{
		position: fixed;
		bottom: 0;
		pointer-events: all;
		padding: 20px 0;
		justify-content: center;
		width: 100%;
		left: 0;
		background-color: #fc0201;
	}
	.rm-about-content{
		margin-top: 138px;
		width: 100%;
		max-width: 340px;
	}
	.rm-loader-pos{
		margin-top: auto;
	padding-bottom: 160px;
	align-items: center;
	justify-content: flex-start;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding-top: 11px;
	}
}